[package]
name = "schemat"
description = "Scheme formatter"
version = "0.1.19"
edition = "2021"
license = "Unlicense"
repository = "https://github.com/raviqqe/schemat"
readme = "./README.md"
keywords = ["format", "scheme"]

[dependencies]
bumpalo = { version = "3.14.0", features = ["allocator_api"] }
mfmt = "0.2"
nom = "7.1.3"
nom_locate = "4.2.0"

[dev-dependencies]
indoc = "2.0.4"
pretty_assertions = "1.4.0"
